In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib 
plt.rcParams['font.sans-serif'] = 'SimHei'

Using matplotlib backend: Qt5Agg

数据集有三个表

In [17]:
d1 = pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail1')
d2 = pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail2')
d3 = pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail3')
d = pd.concat([d1,d2,d3],axis = 0)
d.shape

(10037, 19)

In [18]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 3610
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   detail_id          10037 non-null  int64
 1   order_id           10037 non-null  int64
 2   dishes_id          10037 non-null  int64
 3   logicprn_name      0 non-null      float64
 4   parent_class_name  0 non-null      float64
 5   dishes_name        10037 non-null  object
 6   itemis_add         10037 non-null  int64
 7   counts             10037 non-null  int64
 8   amounts            10037 non-null  int64
 9   cost               0 non-null      float64
 10  place_order_time   10037 non-null  datetime64[ns]
 11  discount_amt       0 non-null      float64
 12  discount_reason    0 non-null      float64
 13  kick_back          0 non-null      float64
 14  add_inprice        10037 non-null  int64
 15  add_info           0 non-null      float64
 16  bar_code           0 non-null      float64
 17  picture_file       10037 non-null  object
 18  emp_id             10037 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(8), object(2)
memory usage: 1.5+ MB

数据包括detail？，订单号，餐号，两个什么名字（注册者，客户名），餐名，类别添加？

计件数，价格，花费，上餐时间？中间不知道什么的三个空列，加菜费？后面几个也看不太懂

In [22]:
d.head(5)

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NaN,NaN,蒜蓉生蚝,0,1,49,NaN,2016-08-01 11:05:36,NaN,NaN,NaN,0,NaN,NaN,caipu/104001.jpg,1442
1,2958,417,609957,NaN,NaN,蒙古烤羊腿,0,1,48,NaN,2016-08-01 11:07:07,NaN,NaN,NaN,0,NaN,NaN,caipu/202003.jpg,1442
2,2961,417,609950,NaN,NaN,大蒜苋菜,0,1,30,NaN,2016-08-01 11:07:40,NaN,NaN,NaN,0,NaN,NaN,caipu/303001.jpg,1442
3,2966,417,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,2016-08-01 11:11:11,NaN,NaN,NaN,0,NaN,NaN,caipu/105002.jpg,1442
4,2968,417,610003,NaN,NaN,蒜香包,0,1,13,NaN,2016-08-01 11:11:30,NaN,NaN,NaN,0,NaN,NaN,caipu/503002.jpg,1442

In [12]:
d.dropna(axis=1,inplace = True)

In [15]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 3610
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   detail_id         10037 non-null  int64
 1   order_id          10037 non-null  int64
 2   dishes_id         10037 non-null  int64
 3   dishes_name       10037 non-null  object
 4   itemis_add        10037 non-null  int64
 5   counts            10037 non-null  int64
 6   amounts           10037 non-null  int64
 7   place_order_time  10037 non-null  datetime64[ns]
 8   add_inprice       10037 non-null  int64
 9   picture_file      10037 non-null  object
 10  emp_id            10037 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(2)
memory usage: 941.0+ KB

In [23]:
d.amounts.describe()

count    10037.000000
mean        44.821361
std         35.815435
min          1.000000
25%         25.000000
50%         35.000000
75%         56.000000
max        178.000000
Name: amounts, dtype: float64

In [37]:
print(d['dishes_name'].value_counts()[:10])

白饭/大碗        323
凉拌菠菜         269
谷稻小庄         239
麻辣小龙虾        216
辣炒鱿鱼         189
芝士烩波士顿龙虾     188
五色糯米饭(七色)    187
白饭/小碗        186
香酥两吃大虾       178
焖猪手          173
Name: dishes_name, dtype: int64